# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA specific project files
.idea

# Ignore all content that might be generated during code execution
out
*.png
